*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
nav{
    background-image: linear-gradient(to left, #9dccba,#c20d0d);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}
.navbar a{
    text-decoration:none;
    color: black;
    font-size: 25px;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_links {
    display:flex;
    list-style:none;
    gap: 20px;
}
.nav_links li a{
    padding: 10px 10px;
    border-radius: 5px;
}
.nav_links li a:hover{
    color: #ffffff;
}
.home{
    background-image: linear-gradient(to right, #d42c2c,#9dccba);
    text-align: center;
    height: 100vh;
}
.home_title{
    font-size:3.5rem;
    padding-top: 60px;
}
.home_subtitle{
    font-size:5rem;
    text-shadow: 2px 2px 4px #9dccba; 
}
.home_description{
    font-size: 3.5rem;
    padding-top: 30px;
}

.click_button{
    display: flex;
    justify-content: center;
    text-shadow: 2px 2px 4px #9dccba;
}
.click_button a{
    text-decoration:none;
    background-image: linear-gradient(to right, #D32F2F,#9DCBB9);
    font-size: 50px;
    padding: 10px 30px;
    border-radius: 50px;
    margin-top: 120px;   
    color: #000000;
    border: 2px solid black;
}
.click_button a:hover{
    background-image: linear-gradient(to right, #9DCBB9,#D32F2F);
}
.about{
    background-image: linear-gradient(to left, #d42c2c,#9dccba);
    height: 100vh;
    scroll-behavior:smooth;
    scroll-margin-top: 90px;
}
.about_title{
    text-align: left;
    font-size: 50px;
    padding-top: 30px;
    margin-left: 30px;
}
p{
    font-size: 42px;
}
.about_container{
    display: flex;
    margin-top: 20px;
    font-size: 30px;
}
.image_sec{
    justify-content:left;
    margin-left: 30px;
    border: 4px solid black;
    width: 600px;
    height: 450px;
}
.image_sec2{
    justify-content:left;
    margin-left: 40px;
}
.about_description{
    display: flex;
    margin-left: 30px;
    font-size: 30px;
}

.quick_facts{
    margin-top: 70px;
}
.quick_facts_all{
    margin-top: 10px;
    list-style-type: none;
}
.about_me{
    font-size:40px ;
}
h8{
    font-size: 32px;
}
.skills{
    background-image: linear-gradient(to left, #9dccba,#c20d0d);
    height: 100vh;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
}
.projects{
    background-image: linear-gradient(to right, #9dccba,#c20d0d);
    height: 100vh;
    font-size: 150px;
    text-align: center;
    padding-top: 180px;
}
.contact{
    background-image: linear-gradient(to left, #9dccba,#c20d0d);
    text-align: center;
    height: 100vh;
    font-size: 70px;
    padding-top: 170px;
}
.my_contacts{
    
}
footer{
    background-image: linear-gradient(to right, #9dccba,#c20d0d);
    text-align: center;
    font-size:30px;
}